<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser_path" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
    <add key="websites" value="https://stocktwits.com/symbol/,https://finance.yahoo.com/quote/,https://robinhood.com/stocks/,https://finviz.com/quote.ashx?t="/> <!--separate using commas-->
    <add key="self_destruct_time" value="5"/> <!--in seconds-->
    </appSettings>
</configuration>